@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF8F0;
  --foreground: #1f2937;
  --primary: #375F7F;
  --accent: #E0875C;
  --teal: #4A9B8E;
}

body {
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.countdown {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
}

.countdown .time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown .item h2 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.countdown .item small,
.countdown .time small {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--primary);
}

@media (min-width: 768px) {
  .countdown {
    gap: 50px;
  }

  .countdown .time h2 {
    font-size: 6.5rem;
  }
  .countdown .time small {
    font-size: 1.8rem;
  }
}
